.inputWrapper {
  border: 1px solid #dbdbdb;
  margin: 5px 0;
  border-radius: 5px;
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputWrapper:focus-within {
  background-color: #fff;
  border-color: #f1b287;
  box-shadow: 0 0 0 0.2rem rgb(223 105 26 / 25%);
}

.inputWrapper input {
  margin: 4px 0;
  border-radius: 5px;
  padding: 0;
  border: none;
}

.centeredInput {
  width: 90%;
}

.centeredInput p {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #787878;
}