* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.container {
  margin: 30px auto;
  max-width: 700px;
  width: calc(100% - 20px);
  border-radius: 5px;
  box-shadow: rgb(180 180 180 / 50%) 0px 0px 15px 1px;
  display: inline-block;

  /* CAN REMOVE IF THERE ARE ISSUES WITH LOTS OF INFO */
  overflow: hidden;
}

.banner {
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: rgb(180 180 180 / 80%) 0px 0px 10px 5px;
  width: 100%;
}

.banner p {
  color: white;
  font-size: 2rem;
}

.profilePic {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid white;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagePlacer {
  margin-left: 20px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  top: 26vh;
}

.cameraIcon {
  width: 100%;
  height: 100%;
  color: black;
  padding: 5px;
  background-color: #e4e6eb;
}

.coverPhoto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 25%; */
  background-color: white;
  float: right;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 15vh;
}

input[type='file'] {
  display: none;
}

.fileLabel {
  width: 35px;
  border-radius: 50%;
  height: 35px;
  margin-left: 85px;
  margin-top: 80px;
  position: absolute;
  overflow: hidden;
}

h1 {
  font-size: 1.3rem;
  margin: 5px 0;
}

.bio h2 {
  font-size: 1.3rem;
  color: #b8b8b8;
  font-weight: bold;
}

.info {
  margin-top: 80px;
  margin-left: 15px;
  margin-right: 15px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  margin: 30px 0;
}

.bio h3 {
  color: black;
  text-align: justify;
  padding: 0px 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.bio p {
  padding: 10px 10px;
  text-align: justify;
  line-height: 25px;
}

.bio:first-child p {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(248, 248, 248, 0.301);
}

.courseInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 10px;

  padding: 10px 10px;
  text-align: justify;
  line-height: 25px;
}

.courseHeaders .courseInfo {
  border-bottom: 1px solid;
}

.courseHeaders {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.course {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 0;
  color: #b8b8b8;
  padding: 0 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.links svg {
  height: 25px;
  width: 25px;
}

.socials span {
  margin: 0 5px;
}

.socialCard {
  display: flex;
  margin: 20px auto;
  border: 1px solid #df691a;
  max-width: 540px;
  width: calc(100% - 20px);
  border-radius: 10px;
  padding: 3px;
  background-color: rgba(248, 248, 248, 0.767);
  box-shadow: rgb(180 180 180 / 40%) 0px 0px 5px 1px;
  cursor: pointer;
}

.addMore {
  justify-content: center;
}

.socialIcons {
  height: 60px;
  width: 60px;
}

.socialDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 10px;
}

/* When user clicks an item */
/* Make it display data relating to item */
.selected {
  color: black;
  border-bottom: 1.5px solid;
}

/* user has an interest in under 'all' section */
.allHobbies > p {
  font-size: 1.3rem;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 100%;
}

.hobbyBubble {
  display: flex;
  align-items: center;
  margin: 10px 8px;
  border-radius: 7px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(255, 191, 13);
}

.bio textarea {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: 100%;
  height: 10vh;
  background-color: rgba(248, 248, 248, 0.301);
  font-size: .9rem;
}

.name {
  width: 48% !important;
}

.fullname {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.input {
  width: 50% !important;
}

.courseDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.courseName {
  width: 50% !important;
}

.courseCode {
  width: 35% !important;
}

select {
  text-align: center;
  /* width: 10% !important; */
  height: 3vh;
  width: 100% !important;
}

.selectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 10%;
}

.selectBox > p {
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: #787878;
}

input, textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: white;
  font-size: 1rem;
  transition: .3s;
  border-radius: 7px;
  resize: none;
}

.editIcon {
  float: right;
  margin: 10px 10px;
}

.enabled {
  color: black;
  transition: .3s;
}

.enabled:focus {
  background-color: #fff;
}

.disabled {
  color: #cbcbcb;
}

.button {
  width: 40%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #df691ab4;
  cursor: pointer;
  outline: none;
  border: none;  
  transition: .3s;
  border-radius: 5px;
  float: left;
  color: white;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(207, 129, 77);
}

.buttons {
  margin: 50px auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 540px;
}

.linkInput {
  width: 100% !important;
}

.socialInputWrapper {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .links {
    padding: 0;
  }

  .fullname {
    flex-direction: column;
  }

  .name {
    width: 100% !important;
    margin-bottom: 40px !important;
  }

  .courseDetails {
    flex-direction: column;
  }

  .courseName {
    width: 100% !important;
  }

  .courseCode {
    width: 100% !important;
  }

  select {
    width: 20% !important; 
    margin: 10px 0;
    height: 4vh;
  }

  .selectBox > p {
    margin-bottom: 0px;
  }

  .selectBox {
    margin: 20px 0;
    width: 100%;
    padding: 0 20px;
  }

  .info {
    margin-left: 5px;
    margin-right: 5px;
  }
}