.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 10px;
  background-color: #e1e1e188;
  color: black;
  max-width: 300px;
}

.timestamp {
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
}

.messageOwn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.messageOwn .messageText {
  background-color: #df691ab4;
  color: white;
}

.messageOwn .messageTop {
  justify-content: flex-end;
}

.profilePic {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid white;
}

@media screen and (max-width: 768px) {
  .messageText {
    font-size: 0.8rem;
  }
}