@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

.mainWrapper {
  border: 1px solid transparent;
  background-position: -50px 100%;
  background-size: 100%;
  background-image: url('../Assets/Images/students.svg');
  background-repeat: no-repeat;
  background-color: white;
  height: auto;
}

.profileCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  background-color: #efefef;
  border-radius: 10px;
  /* border: 1px transparent; */
  margin-bottom: 200px;
  position: relative;
}

.changePic {
  margin: 10px 0;
}

.header {
  width: 100%;
}

.editIcon {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}

.headerWrapper {
  display: inline-block;
}

.profileImageHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-bottom: 10px;
}

.profileImg {
  width: 50%;
  clip-path: circle();
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: 15px 0;
}

.field label {
  font-family: 'Fira Sans', serif;
  margin: 10px 0;
}

.field textarea {
  width: 100%;
  height: 90px;
}

input, textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: white;
  font-size: 1.1rem;
  transition: .3s;
  border-radius: 7px;
  resize: none;
}

.enabled {
  color: black;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .3s;
}

.enabled:focus {
  background-color: #fff;
  border-color: #f1b287;
  box-shadow: 0 0 0 0.2rem rgb(223 105 26 / 25%);
}

.disabled {
  color: #cbcbcb; /* Grayed cus editing disabled by default */
}

.profileCard h1 {
  margin: 20px 0;
  font-size: 1.2rem;
  font-family: 'Fira Sans', serif;
}

.username {
  background-color: white;
  color: #cbcbcb;
}

.courseDetails {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* Input for course code */
.courseDetails input {
  width: 70%;
}

.courseDetails select {
  width: 20%;
  text-align: center;
  font-size: 1.1rem;
  border: none;
  border-radius: 7px;
  outline: none;
}

.courseDetails select option:hover {
  color: #df691a;
}

.button {
  width: 42%;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
  cursor: pointer;
  outline: none;
  border: none;  
  transition: .3s;
  border-radius: 7px;
  float: left;
  color: white;
}

.button:hover {
  background-color: rgb(207, 129, 77);
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 85%;
  margin: 20px 0;
}

.fullname, .signupDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Anything above 768px */
@media (min-width: 768px) {
  .profileCard {
    width: 80%;
  }

  .profileImg {
    width: 40%;
  }

  .profileCard h1 {
    font-size: 1.8rem;
  }

  .changePic {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .field label {
    font-size: 1.4rem;
  }

  input, textarea {
    font-size: 1.2rem;
  }

  .editIcon {
    width: 35px;
    height: 35px;
  }

  .button {
    font-size: 1.2rem;
  }

  .courseDetails select {
    width: 14%;
    text-align: center;
    font-size: 1.2rem;
  }

  .mainWrapper {
    background-position: 0% 110%;
    background-size: 500px 500px;
  }
}

@media (min-width: 1024px) {
  .profileCard {
    width: 70%;
  }

  .profileImg {
    width: 30%;
  }

  .profileCard h1 {
    font-size: 1.9rem;
  }

  .changePic {
    font-size: 1.2rem;
  }

  .field label {
    font-size: 1.2rem;
    float: left;
    margin: 0;
  }

  input, textarea {
    font-size: 1rem;
  }

  .editIcon {
    width: 35px;
    height: 35px;
  }

  .button {
    font-size: 1.2rem;
  }

  .courseDetails select {
    width: 14%;
    text-align: center;
    font-size: 1.2rem;
  }

  .fullname {
    flex-direction: row;
    width: 85%;
  }

  .fullname .field input {
    width: 90%;
    float: left;
  }

  .fullname .field:nth-child(2n) {
    align-items: flex-end;
  }

  .fullname .field:nth-child(2) input {
    width: 100%
  }

  .fullname .field {
    display: inline;
  }

  .fullname div:nth-child(2) input {
    float: right;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .profileCard {
    width: 40%;
  }

  .profileImg {
    width: 30%;
  }

  .profileCard h1 {
    font-size: 1.4rem;
  }

  .changePic {
    font-size: 1.1rem;
  }

  .field {
    margin: 16px 0;
  }

  .field label {
    font-size: 1.2rem;
    float: left;
    margin: 0;
  }

  input, textarea {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .editIcon {
    width: 25px;
    height: 25px;
  }

  .button {
    font-size: 1.2rem;
  }

  .courseDetails select {
    width: 14%;
    text-align: center;
    font-size: 1.2rem;
  }

  .fullname {
    flex-direction: row;
    width: 85%;
  }

  .fullname .field input {
    width: 90%;
    float: left;
  }

  .fullname .field:nth-child(2n) {
    align-items: flex-end;
  }

  .fullname .field:nth-child(2) input {
    width: 100%;
  }

  .fullname .field {
    display: inline;
  }

  .fullname div:nth-child(2) input {
    float: right;
    margin: 0;
  }

  .mainWrapper {
    background-position: bottom;
    background-size: 100%;
    background-image: url('../Assets/Images/blue-wave.svg');
    background-repeat: no-repeat;
    background-color: white;
    height: auto;
    border: none;
  }

  .signupDetails {
    flex-direction: row;
    width: 85%;
  }

  .signupDetails .field input {
    width: 90%;
    float: left;
  }

  .signupDetails .field:nth-child(2n) {
    align-items: flex-end;
  }

  .signupDetails .field:nth-child(2) input {
    width: 100%;
  }

  .signupDetails .field {
    display: inline;
  }

  .signupDetails div:nth-child(2) input {
    float: right;
    margin: 0;
  }
}