* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.container {
  margin: 30px auto;
  max-width: 700px;
  width: calc(100% - 20px);
  border-radius: 5px;
  box-shadow: rgb(180 180 180 / 50%) 0px 0px 15px 1px;
  display: inline-block;

  /* CAN REMOVE IF THERE ARE ISSUES WITH LOTS OF INFO */
  overflow: hidden;
}

.banner {
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(180 180 180 / 80%) 0px 0px 10px 5px;
}

.banner p {
  color: white;
  font-size: 2rem;
}

.profilePic {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid white;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagePlacer {
  margin-left: 20px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  top: 25vh;
}

.imagePlacer h1 {
  font-size: 1.5rem;
}

.name {
  margin-left: 15px;
  text-align: left;
}

.name h2 {
  color: #b8b8b8;
  font-size: 1.1rem;
  font-weight: bold;
}

.info {
  margin: 80px 15px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  margin: 60px 0;
}

.bio h3 {
  color: black;
  text-align: justify;
  padding: 0px 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.bio p {
  padding: 10px 10px;
  text-align: justify;
  line-height: 25px;
}

.bio:first-child p {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(248, 248, 248, 0.301);
}

.courseInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 10px;
}

.courseHeaders .courseInfo {
  border-bottom: 1px solid;
}

.courseHeaders {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.course {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 0;
  color: #b8b8b8;
  padding: 0 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.links svg {
  height: 25px;
  width: 25px;
}

.socials span {
  margin: 0 5px;
}

.socialCard {
  display: flex;
  margin: 20px auto;
  border: 1px solid #df691a;
  max-width: 540px;
  width: calc(100%-20px);
  border-radius: 10px;
  padding: 3px;
  background-color: rgba(248, 248, 248, 0.767);
  box-shadow: rgb(180 180 180 / 40%) 0px 0px 5px 1px;
  cursor: pointer;
}

.addMore {
  justify-content: center;
}

.socialIcons {
  height: 60px;
  width: 60px;
}

.socialDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 10px;
}

/* When user clicks an item */
/* Make it display data relating to item */
.selected {
  color: black;
  border-bottom: 1.5px solid;
}

/* user has an interest in under 'all' section */
.allHobbies > p {
  font-size: 1.3rem;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 100%;
}

.hobbyBubble {
  display: flex;
  align-items: center;
  margin: 10px 8px;
  border-radius: 7px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(255, 191, 13);
}

@media screen and (max-width: 500px) {
  .links {
    padding: 0;
  }
}